<div class="row">
    <label>Please select a class below</label>
    <div class="form-group">
        <select ng-change="Selected()" ng-model="formData.selectedClass" ng-options="item.Class for item in upcomingTraining" required>
            <option value="">Upcoming Classes</option>
        </select>
    </div>
</div>
<div class="row">
    <label>Please select a date/time below</label>
    <div class="form-group">
        <select ng-model="formData.selectedDateTime" ng-options="time.FormattedDate for time in upcomingTrainingDateTime" ng-change="SelectedDateTime()" required>
            <option value="">Select a date/time</option>
        </select>
    </div>
</div>
<br>
<br>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
        <a  id="next-btn" class="btn btn-block btn-info" ng-click="validate()">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
</div>
</div>